* { box-sizing: border-box; }
html, body {
	font-family: Arial;
}
h3 {
	text-align: center;
}
div.container {
	width: 400px;
	margin: 0 auto;
}
div.messages {
	width: 400px;
	height: 500px;
	margin-bottom: 10px;
	border: 1px solid rgba( 0, 0, 0, 0.1 );
	border-radius: 3px;
	overflow-x: auto;
	overflow-y: scroll;
}
div.messages div.placeholder {
	width: 200px;
	margin: 100px auto;
	text-align: center;
	font-size: small;
	font-style: italic;
}
div.messages div.message {
	padding: 5px 50px 12px 8px;
	font-size: small;
	white-space: pre-wrap;
}
div.messages div.message.user {
	padding: 5px 8px 12px 50px;
	text-align: right;
	color: green;
}
div.controls, div.login {
	width: 400px;
}
div.controls input[type=text], div.login input[type=text] {
	width: 315px;
	padding: 5px 3px;
	margin-right: 5px;
	border: 1px solid rgba( 0, 0, 0, 0.1 );
	border-radius: 3px;
}
div.controls input[type=submit], div.login input[type=submit] {
	width: 75px;
	padding: 5px 3px;
	border: 0;
	border-radius: 3px;
	color: white;
	background: rgba( 128, 200, 255, 1.0 );
}
div.alert {
	color: maroon;
	font-size: small;
	padding: 5px 3px;
}